{% extends "base.html" %}

{% block content %}
<style>
    form {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    table {
        width: 90%;
        margin-bottom: 20px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 100%;
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
        margin-bottom: 10px;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus {
        outline: none;
        border-color: #A9A9A9;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
    }

    button[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #3CB371;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    button[type="submit"]:hover {
        background-color: #2E8B57;
    }

    a {
        display: block;
        text-align: center;
        color: #000;
        text-decoration: none;
        font-size: 14px;
        margin-top: 10px;
    }

</style>

<form method="post">
    {% csrf_token %}
    <h2>Criar Nova Senha</h2>
    
    <div class="form-group">
        <label for="password">Nova Senha</label>
        <input type="password" name="password" id="password" required>
    </div>

    <div class="form-group">
        <label for="password2">Confirmar Nova Senha</label>
        <input type="password" name="password2" id="password2" required>
    </div>
    
    <button type="submit">Alterar Senha</button>
</form>
{% endblock %} 